Repository sibiraj-s/prosemirror-codemirror-6: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{js,ts,json,scss,html,md,yml}': prettier --write
'*.{js,ts}': eslint --fix

Prefer vitest to jest
  LICENSE
  cm.spec.ts
  jest.config.js
  package-lock.json
  package.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

Fix pre-push script
  .husky/pre-push
  package.json
Due: prettier --write

Configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Fix package version
  package-lock.json
  package.json
Due: prettier --write

Release v1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Update CI workflows
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: prettier --write

Update github actions
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Cleanup husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Bump github actions
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
Due: prettier --write

Configure npm publish environment
  .github/workflows/npmpublish.yml
Due: prettier --write

Bump dependencies
  .eslintrc.yml
  .github/workflows/pages.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.yml
  .oxfmtrc.json
  .oxlintrc.json
  .prettierrc.yml
  cm.spec.ts
  demo/index.ts
  index.html
  lib/codemirror.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Bump dependencies
  demo/global.d.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix

Use npm staged publishing
  .github/workflows/npmpublish.yml
Due: prettier --write
